<div class="large-6 small-centered columns">
  <br />
  <h1 class = "centered">Editing Blog</h1>
   <br />

  <%= render 'form' %>

  <%= link_to 'Show', @article %> |
  <%= link_to 'Back', articles_path %> |
  <%= link_to "Destroy", @article, method: :delete, data: { confirm: "Are you sure?" } %>
</div>