<div class="large-6 small-centered columns">
   <br />
  <h1 class = "centered">New Blog</h1>
   <br />

  <%= render 'form' %>

  <br />
  <%= link_to 'Back', articles_path, class: 'button alert tiny radius round left' %>
</div>