<% provide(:title, "About") %>
<div class = "centered">
<div class = "large-6 small-centered columns">

  <h1>
    About Me
  </h1>

  <p>
    Hi! My name is John Tan. <br />
    I'm currently a Senior at Baruch College, majoring in Computer Information Systems.
  </p>
  <p>
     I started with web development in Java and JSP, and I'm currently an aspiring <icon class="fi-laptop"> Ruby on Rails developer!</icon>
  </p>
  <p>
     I am also interested in <icon class = "fi-music"> singing </icon>, <icon class = "fi-torso"> health & fitness </icon>, <icon class = "fi-map"> traveling </icon>, and exploring <icon class = "fi-trees"><icon class = "fi-mountains"> environmental sceneries! </icon></icon>
  </p>
<div class = "left">
<%= link_to "Back", root_path, class: 'button tiny radius round' %>
</div>
</div>  
</div>