  <div class = "large-10-centered columns">
    <ul>
    <div>
      <% if current_user %>
        <icon class="fi-x"></icon> <%= link_to "Logout", :logout, method: :post %>
      <% end %>
    </div>
    
    <div>
      <p id = "notice"><%= flash[:notice] %> </p>
      <p id = "alert"><%= flash[:alert] %></p>
    </div>
      
    <div class ="panel">
    <div class = "row">
        <div class="large-6 columns">
          <h2><strong>Hi! I'm </strong></h2><h1><strong>John Tan.</strong></h1>
            <p> I'm currently a senior at Baruch College, majoring in Computer Information Systems and minor in Mathematics. I grew up in the Lower East Side of Manhattan, New York City. I started with web development in Java and JSP, and I recently started learning Ruby on Rails. I love singing, health and fitness, traveling, hiking, and exploring environmental sceneries! 
            </p>
          </div>

            <div class="large-6 columns">
              <div class = "centered header">
            <%= link_to image_tag("johntan.png", class: "rounded-image"), root_path %>
            </div>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="large-4 columns"> 
            <section class="school">
              <h3><i>Education</i></h3>
              <a class="th [radius]" href="http://www.baruch.cuny.edu" target="_new">
            <img alt="Baruch College" src="https://s3.amazonaws.com/JohnTan/Pictures/BaruchCollege.png" width="200px" />
             </a> 
             <p>
             I am currently an undergraduate student at <a href="http://www.baruch.cuny.edu" target="_new"> Baruch College </a> studying Computer Information Systems and Mathematics. In the future, I hope to go into the fields of Software Engineering/Application Development, specifically in Java and Web Development in Ruby on Rails.
            </p>
            </section>

            <section class="school">
              <a class="th [radius]" href="http://www.ccny.cuny.edu" target="_new">
            <img alt="CCNY" src="https://s3.amazonaws.com/JohnTan/Pictures/CCNY.png" width="200px" />
          </a>
           <p>
           Before I attended Baruch College in Fall 2011, I went to <a href="http://www.ccny.cuny.edu" target="_new">The City College of New York</a> for a year, coming right out of high school. I mainly took the General Education coursework and during the time of my studies at CCNY, my favorite subject was <a href= "http://www.khanacademy.org/math/calculus" target="_new"> calculus</a>. 
           </p>
           </section>
        </div>



        <div class="large-4 columns">
            <section class="work">
              <h3><i>Work Experience</i></h3>
              <a class="th [radius]" href="http://www.afreebird.org" target="_new">
            <img alt="StandardandPoors" src="https://s3.amazonaws.com/JohnTan/Pictures/afreebird.png" width="200px" />
              </a>
            <p>
            This spring 2014, I will be interning at <a href = "http://www.afreebird.org" target="_new"> A Free Bird </a> as a Web Developer. A Free Bird is a non-profit organization based in New York City. They focus on providing children, who are patients or survivors of juvenile cancer, the opportunity to explore artistic passions, such as art, music, acting, poetry, writing, and singing. A Free Bird believes that these artistic expression will give them the strength to fight their disease.
            </p>
            </section>

            <section class="work">
              <a class="th [radius]" href="http://www.standardandpoors.com/" target="_new">
            <img alt="StandardandPoors" src="https://s3.amazonaws.com/JohnTan/Pictures/standardandpoors.png" width="250px" />
              </a>
            <p>
            In the summer of 2013, I was a Data Assurance Intern for the Data Strategy & Operations team at <a href = "http://www.standardandpoors.com/" target="_new"> Standard & Poor's Ratings Services </a> in New York City, an American financial services company that is a division of McGraw Hill Financial. They publish financial research and analysis on stocks and bonds. I was working individually and in teams from New York, London, Denver, and Mumbai. The projects I worked on was predominantly in discrepancy metrics analysis on US Public Finance fundamental data, financial reference data, and scorecard metrics on corporate financial data. The tools I used to work on these projects are Toad for Oracle and MS Access, so I have come to rely on SQL heavily.
            </p>
            </section>

            <section class="work">
              <a class="th [radius]" href="http://www.baruch.cuny.edu" target="_new">
            <img alt="College Advancement" src="https://s3.amazonaws.com/JohnTan/Pictures/CollegeAdvancement.png" width="250px" />
              </a>
            <p>During the spring of 2013, I was an Information Technology Assistant at the Office of College Advancement, Baruch College. My main role was IT Support and Management for the entire office infrastructure on hardware, software, and networks. I also have developed and maintained the infrastructure inventory database and time-sheet database using MS Access. As a side project of my own, I built VBA macros that automatically export e-mail attachments of pdf files from MS Outlook to user's desktop. </p>
            </section>

            <section class="work">
            <a class="th [radius]" href="http://www.conedison.com" target="_new">
            <img alt="Con Edison" src="https://s3.amazonaws.com/JohnTan/Pictures/ConEdison.png" width="250px" />
              </a>
            <p> In the summer of 2012, I received my first internship at <a href = "http://www.conedison.com" target="_new"> Con Edison </a> in the Quality Assurance team as an Engineering Aide. Qaulity Assurance was a new team that was formed in the Customer Operations Group. Con Edison is a regulated utility providing electric, gass, and steam services in New York City and Westchester County, New York. I mainly worked and managed the meter information systems that focused on interval meters. I also have roles on customer operations, data collection and reporting, Data analytics, Database and Information System Quality Testing. As a side project, I designed VBA macros and Queries in MS Access to improve the team's operations.</p>
            </section>
        </div>
        
        <div class="large-4 columns">
            <section class="activity">
              <h3><i>Activities</i></h3>
            <a class="th [radius]" href="https://s3.amazonaws.com/JohnTan/Pictures/CodeForGood.png" target="_new">
            <img alt="Code for Good" src="https://s3.amazonaws.com/JohnTan/Pictures/CodeForGood.png" width="250px" />
              </a>
            <p> In October 2013, I competed in a 24 hour hackathon at the J.P. Morgan Code for Good Challenge. The non-profit organization, The Center of New York City Neighborhoods (CNYCN), run in partnership with J.P. Morgan Chase's Technology for Social Good team, presented a challenge to create a web application targeted at homeowners, advocacy and policy makers that looks at the changes in flood maps that may impact on housing markets and affordability. We built a web application, <a href = "projects"> Ripple (NYC Floods)</a>, that uses the LAMP framework and bootstrap as a front-end design. We also implemented the web application with JavaScript, Google Mapping's API, Trulia API, Fizber API, and raw data from NASA and NYTimes.</p>
            </section>

            <section class="activity">
             <a class="th [radius]" href="https://contest-reg.dfw.ibm.com/contest/usaca.nsf/MTM/walloffame?open" target="_new">
            <img alt="IBM Master the Mainframe 2013" src="https://s3.amazonaws.com/JohnTan/Pictures/IBM_2013.png" width="200px" />
              </a>
            <p> I competed and earned Wall of Fame in the 2013 IBM Master the Mainframe Contest. I managed to complete part 1 and part 2 challenges in 4/82 days that involves extensive programming with familiarity in advanced system navigation, application development tasks in Java, Python, SQL, COBOL, JCL as well as hands-on experience with multiple mainframe operating systems, such as Linux on System Z, z/VM, z/OS, z/TPF across the parallel sysplex. </p>
            </section>

             <section class="activity">
             <a class="th [radius]" href="https://www.ibm.com/developerworks/university/students/us_canada/walloffame.html" target="_new">
            <img alt="IBM Master the Mainframe 2012" src="https://s3.amazonaws.com/JohnTan/Pictures/IBM_2012.png" width="200px" />
              </a>
            <p> I participated and earned Wall of Fame in the 2012 IBM Master the Mainframe Contest. I managed to complete part 1 and part 2 challenges that involves debugging, programming, and navigation of the z/OS mainframe. One of the memorable challenges I faced was modifying a C program with Job Control Language (JCL) to have abundant lucky numbers and mersenne prime numbers printed. I also have customized an Interactive System Productivity Facility (ISPF) user interface, a z/OS management facility, using advanced ISPF editor commands. Another cool thing I discovered was compiling and executing a Java program through an z/OS Unix Shell environment. </p>
            </section>

            <section class="activity">
             <a class="th [radius]" href="http://www.bapbaruch.org" target="_new">
            <img alt="BAP" src="https://s3.amazonaws.com/JohnTan/Pictures/BAP.png" width="250px" />
              </a>
            <p> In Fall 2011, I joined Beta Alpha Psi, a professional business honor society, to meet new friends and network with professionals. In fact, it has helped me to develop personally and professionally. In spring 2012, I held a position as an Assistant Vice President of Technology, where I have helped to develop and maintain the organizations's website. </p>
            </section>
     </div>
   </div>
   </ul>
 </div>
