<div class="large-8 small-centered columns">
   <br />
  <h1 class = "left">Editing Project</h1>
  <hr>

  <%= render 'form' %>

  <br />
  <%= link_to 'Show', @project %> |
  <%= link_to 'Back', projects_path %> |
  <%= link_to "Destroy", @project, method: :delete, data: { confirm: "Are you sure?" } %>
</div>