<div class="large-6 small-centered columns">
   <br />
  <h1 class = "left">New Project</h1>
  <hr>

  <%= render 'form' %>

  <br />
  <%= link_to 'Back', projects_path, class: 'button alert tiny radius round left' %>
</div>