<footer class = "footer">
  <nav>
      <div class = "right">
      <ul class = "breadcrumbs">
        <li class="unavailable"> &copy 2014 John Tan | Ruby on Rails </li>
      </ul>
    </div>
  </nav>
</footer>