<a class="custom-thumbnail-class">
  <%= link_to image_tag("NYC3.jpg", class: "header") %>
</a>

<div data-magellan-expedition="fixed">
  <dl class="sub-nav">
    <dd data-magellan-arrival="build"><%= link_to "Blog", articles_path %></dd>
    <dd data-magellan-arrival="build"><%= link_to "Portfolio", projects_path %></dd>
  </dl>
</div> 


<div class = "centered header">
    <%= link_to image_tag("johntan.png", class: "circle-image"), root_path %>
</div>
